<section>
  <form
    (ngSubmit)="onSubmit()"
    [formGroup]="signupForm"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px">
    <mat-form-field>
      <input
        autocomplete="email"
        formControlName="email"
        matInput
        placeholder="Your Email"
        required
        type="email">
      <mat-error>Field must not be empty.</mat-error>
      <mat-error>Email is invalid</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="Should be at least 6 characters long.">
      <input
        #password
        autocomplete="new-password"
        formControlName="password"
        matInput
        placeholder="Your Password"
        type="password">
      <mat-hint align="end">{{ password.value?.length }} / 6</mat-hint>
      <mat-error>Has to be at least 6 characters</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        [matDatepicker]="picker"
        [max]="maxDate"
        autocomplete="bday"
        formControlName="birthday"
        matInput
        placeholder="Your Birthday"
      >
      <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-checkbox formControlName="agree">Agree to Terms and Conditions.
    </mat-checkbox>
    <button
      [disabled]="signupForm.invalid"
      color="primary"
      mat-raised-button
      type="submit">Submit
    </button>
  </form>
</section>
