<section>
  <form
    #f="ngForm"
    (ngSubmit)="onSubmit(f)"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px">
    <mat-form-field>
      <input
        #emailInput="ngModel"
        autocomplete="email"
        email
        matInput
        name="email"
        ngModel
        placeholder="Your Email"
        required
        type="email">
      <mat-error *ngIf="emailInput.hasError('required')">Field must not be
        empty
      </mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid
      </mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="Should be at least 6 characters long.">
      <input
        #pwInput="ngModel"
        autocomplete="new-password"
        matInput
        minlength="6"
        name="password"
        ngModel
        placeholder="Your Password"
        required
        type="password">
      <mat-hint align="end">{{ pwInput.value?.length }} / 6</mat-hint>
      <mat-error>Has to be at least 6 characters</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        [matDatepicker]="picker"
        [max]="maxDate"
        matInput
        autocomplete="bday"
        name="birthday"
        ngModel
        placeholder="Your Birthday"
        required>
      <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-checkbox name="agree" ngModel>Agree to Terms and Conditions.
    </mat-checkbox>
    <button
      [disabled]="f.invalid"
      color="primary"
      mat-raised-button
      type="submit">Submit
    </button>
  </form>
</section>
